.fullPage{
    background:#DEBA9D ;
}

    .top{
        background:#6F4C5B;
        color:floralwhite;

        height: 80px;
        line-height:85px;
        text-align: center;
    }
    

    .form{
        color:#6F4C5B;
        background:#F5E8C7 ;
        height:600px;
        width:1000px;
        padding: 40px;
        margin-right: auto;
        margin-left : auto;
        margin-top: 30px;
        
        
    }
        
        .forms{
            font-size: 20px;
            float: left;
            padding: 20px;

            margin-right: auto;
            margin-left : auto;
            
            text-align: center;
        }

        .button {
            display       : inline-block;
            border-radius : 5%;      
            font-size     : 13pt;     
            text-align    : center;    
            cursor        : pointer;    
            padding       : 12px 23px;
            background    : #6F4C5B; 
            color         : #ffffff;  
            line-height   : 1em;       
            opacity       : 1;         
            transition    : .3s;   

            
        }
        .button:hover {
            opacity       : 0.8;  
        }



    .main{
        font-size: 18px;
        background:#F5E8C7;
        color:#6F4C5B;
        height:700px;
        width:1000px;
        margin-right: auto;
        margin-left : auto;
        padding: 40px;
        margin-top: 30px;
        
    }

    .title_under{
        font-size: 25px;
        text-align: center;
        color:#6F4C5B;
    }

